[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://gitee.com/embeddedboys/LovyanGFX
	branch = out-of-bounds
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://gitee.com/embeddedboys/lvgl.git
